body {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:20px;
    font-family:arial, sans-serif;

}
#grid-container {
    display:flex;
    flex-wrap:wrap;
    width:960px;
    height:960px;
    border:2px solid #cf0a0a;


}
.grid-square {
    box-sizing:border-box;
    border: 1px solid#ddd;
    background-color:white;
    flex:0 0 auto;
    
}